*{
  box-sizing:border-box;
  
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
  background-color:#CCCCFF;
  font-family:"Lucida Console", "Courier New", monospace;
    
}
.cal{
  background-color:#301934;
  border-radius:10px;
  box-shadow: 0 4px 20px #722F37;
  padding:20px;
  width:320px;
  
}
input{
width:100%;
  height:60px;
border:none;
border-radius:5px;
  font-size:20px;
 padding:10px;
  margin-bottom:10px;
  text-align:right;
background-color:#800020;

}
.button{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:12px;
  
  
  
  
}
button{
  height:62px;
  font-size:23px;
  font-weight:bold;
  cursor:pointer;
  border:none;
  border-radius:5px;
  transition:background 0.3s;
  background-color:#483248;
  text-color:white;
  
  
  
  
  
  
}
button:hover{
background-color:#722F37;



}
button:active{
  background-color:#770737;
  
}

button:nth-child(2),
button:nth-child(3),
button:nth-child(4),
button:nth-child(5),
button:nth-child(6),
button:nth-child(7),
button:nth-child(8),
button:nth-child(9),
button:nth-child(10),
button:nth-child(11),
button:nth-child(12),
button:nth-child(13),
button:nth-child(14),
button:nth-child(15),
button:nth-child(16),
button:nth-child(18),
button:nth-child(19){
  background-color:lightblue;
  border-radius:58%;
}

button:nth-child(1){
  background-color:#B2D3C2;
  border-radius:58%;
  
}
button:nth-child(17){
  background-color:#028A0F;
  border-radius:58%;
  
}
button:nth-child(20){
  background-color:#D0F0C0;
  border-radius:58%;
  
}
